# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask stuff:
instance/
.webassets-cache

# Pytest
.cache/

# Environment variables
.env

# VS Code
.vscode/ 

logs/

*.log
tests/data/ms365_calendar_*_to_*.json
ms_token.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/admin-assistant.iml
/.idea/AugmentWebviewStateStore.xml
/.idea/aws.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.coverage
